

.custom--cl, .service-card__icon i, .choose-card__icon i, .overview-card__icon i, .ratings i, .footer-info-list i, .header .main-menu li a:hover, .header .main-menu li a:focus, a:hover, .header .main-menu li.menu_has_children:hover > a::before, .plan-feature-list li::before, .bottom-menu ul li a:hover, .bottom-menu ul li a.active, .header .main-menu li a:hover, .header .main-menu li a:focus, .header .main-menu li a.active, .account-short-link li a:hover, .custom--checkbox input:checked~label::before,.btn-outline--base{
color: #d92f2f;
}

.btn--base, plan-card__header, .bg--base, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .dl__square, .plan-card__header,.copied::after{
background: #d92f2f!important;
}

.feature-card i, .text--base, .page-breadcrumb li a:hover,.subscribe-form .form--control:focus ~ i,.dl__corner--top:before,
.dl__corner--top:after,
.dl__corner--bottom:before,
.dl__corner--bottom:after {
color: #d92f2f !important;
}

.custom--bg, .feature-card::after, .testimonial-item, .section-top-title.border-left::before, .about-thumb .video-icon, .service-section, .how-work-card__step::before, .overview-section::after, .loan-card, .gradient--bg, .btn--gradient::before, .custom--accordion .accordion-button:not(.collapsed),
.btn-outline--gradient, .pagination .page-item.active .page-link,.btn-outline--base:hover {
background: #d92f2f;
}

.overview-section, .testimonial-item::before, .header.menu-fixed .header__bottom, .footer, .account-wrapper .left, .btn--dark, .btn--dark:hover, .registration-wrapper .top-content, .btn--base-2, .custom--table thead, .account-section-right, .account-section-right::before, .account-section-right::after, .how-work-card__step, .btn-outline--gradient::before, .choose-card, .dark--overlay::before, .dark--overlay-two::before, .plan-card .fdr-badge{
background: #210656;
}

.section--bg2 {
background-color: #210656!important;
}

.custom--accordion .accordion-item, #preloader:before,.btn-outline--base {
border: 1px solid #d92f2f;
}

.form--control:focus, .border--base, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .expired-time-circle::before {
border-color: #d92f2f!important
}

.custom--btn{
color: white;
background: #d92f2f;
}

.btn:hover{
color: white;
}

.btn-primary{
background: #d92f2f;
border-color: #d92f2f;
}

.btn-primary:hover{
background: #d92f2f;
border-color: #d92f2f;
}

.header__bottom{
background-color: #2106568c;
}

.pagination .page-item .page-link{
border: 1px solid #d92f2f40;
}

.pagination .page-item .page-link:hover{
border: 1px solid #d92f2f;
}

.pagination .page-item .page-link:hover, .header .main-menu li .sub-menu li a::before{
background-color: #d92f2f;
}

.page-link:focus{
box-shadow: 0 0 0 0.25rem #d92f2f40 !important;
}

.btn-check:focus+.btn-primary, .btn-primary:focus{
background-color: #d92f2f;
border-color: #d92f2f !important;
}

.header .main-menu li.menu_has_children > a::before, .contact-info-card__icon i{
color: #d92f2f;
}

.header .main-menu li .sub-menu li a:hover, .page-breadcrumb li:first-child::before{
color: #d92f2f;
}

.plan-card{
border-bottom: 3px solid #d92f2f;
}

.service-card__icon {
background-color: #d92f2f26 !important;
}
.feature-card .icon {
background-color: #d92f2f26 !important;
}

.custom--accordion .accordion-button {
background-color: #d92f2f0d;
}

.overview-card__icon i {
background: #d92f2f;
background: -webkit-linear-gradient(-103deg, #d92f2f 0%, #d92f2f 35%, #d92f2f 76%, #d92f2f 100%);
background: linear-gradient(-103deg, #d92f2f 0%, #d92f2f 35%, #d92f2f 76%, #d92f2f 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.section--bg {
background-color: #d92f2f12;
}

@media (max-width: 991px) {
.header__bottom {
background-color: #210656;
}
}

.account-form .form--control, .account-form .select {
background-color: #210656ef;
}

.subscribe-section{
background-color: #210656f7;
}

.form--control:focus ~ .input-group-text {
border-color: #d92f2f;
}